const web3 = require('web3');
const init_holders = [
  {% for initHolder in initHolders %}{
     address: '{{initHolder }}',
     balance: BigInt('209948900000000000000000').toString(16) // 209948.9e18
  },{% endfor %}
];

exports = module.exports = init_holders;
