const web3 = require('web3');
const init_holders = [
  {% for holder in initHolders %}{
     address: '{{holder.address }}',
    balance: BigInt('{{ holder.balance }}').toString(16) // 209948.9e18
  },{% endfor %}
];

exports = module.exports = init_holders;
